*$py.class
*.dump
*.egg-info
*.egg-info
*.py[cod]
*.pyc
.benchmarks
.cache
.cache
.DS_Store
.mypy_cache
.pytest_cace
.pytest_cache/v/cache/*
.subl
.vscode/
__pycache__
__pycache__/
app/package-lock.json
build
dist
node_modules
tmp/